#monsters .card {
  cursor: pointer;
}


.sidebar-right {
    position: absolute;
    top: 15px;
    right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
}

.sidebar-left {
    position: absolute;
    top: 15px;
    left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
}
